{% extends "base.html" %}

{% block main %}
    <article class="single">
        <header class="single__header">
            <h1 class="single__title">{{ article.title }}</h1>
            <ul class="single__infos">
                <li class="single__avatar">
                    <img src="{{ article.avatar }}" alt="avatar" height="90" width="90">
                    </li><li class="single__author">
                    <span>{{ article.author }}</span>
                    </li><li class="single__date">
                    <date>{{ article.locale_date }}</date>
                </li>
            </ul>
        </header>
        <div class="single__content">
            {{ article.content }}
        </div>
    </article>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link footer__link--github" href="https://github.com/ulule">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-github fa-stack-2x"></i>
                    </span>
                </a>
                </li><li class="footer__item">
                <a class="footer__link footer__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ BASE_URL }}/{{ article.url }}&display=popup">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
                </li><li class="footer__item">
                <a class="footer__link footer__link--twitter" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fulule.engineering%2F{{ article.url }}%2F&ref_src=twsrc%5Etfw&tw_p=tweetbutton&url={{ BASE_URL }}%2F{{ article.url }}%2F&via=ulule">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </footer>
{% endblock %}
