<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ulule engineering</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link href="theme/build/css/style.css?{{ VERSIONING }}" rel="stylesheet" media="all">

    <link href="https://d1yggf0lcx0ykm.cloudfront.net/apple-touch-icon.63c1116b1112.png" rel="apple-touch-icon">
    <link href="https://d1yggf0lcx0ykm.cloudfront.net/apple-touch-icon-precomposed.37d746686d25.png" rel="apple-touch-icon-precomposed">
    <link href="https://d1yggf0lcx0ykm.cloudfront.net/apple-touch-icon-114x114.f7a7d4822c52.png" sizes="114x114" rel="apple-touch-icon">
    <link href="https://d1yggf0lcx0ykm.cloudfront.net/apple-touch-icon-114x114-precomposed.f7a7d4822c52.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="https://d1yggf0lcx0ykm.cloudfront.net/site/partners/ulule/favicon.ico" type="image/gif" rel="icon">

    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="https://d1yggf0lcx0ykm.cloudfront.net/site/partners/ulule/favicon.ico" /><![endif]-->
  </head>
  <body>
    <header class="header">
      <span class="header__logo">
        <a href="index.html">
          <img src="/theme/build/img/ulule-eyes.png" alt="Ulule" height="22" width="42"><span>Engineering</span>
        </a>
      </span>
      <span class="header__back">
        <a href="https://www.ulule.com">
          <span>Back to Ulule</span><i class="icowl-enter"></i>
        </a>
      </span>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
  </body>
</html>

