@font-face {
  font-family: 'fontowl';
  src:url('../fonts/fontowl.eot?wkhdgq');
  src:url('../fonts/fontowl.eot?wkhdgq#iefix') format('embedded-opentype'),
    url('../fonts/fontowl.ttf?wkhdgq') format('truetype'),
    url('../fonts/fontowl.woff?wkhdgq') format('woff'),
    url('../fonts/fontowl.svg?wkhdgq#fontowl') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: 'fontowl';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icowl-search-plus:before {
  content: "\e600";
}
.icowl-chevrons:before {
  content: "\e601";
}
.icowl-eye:before {
  content: "\e602";
}
.icowl-cinema:before {
  content: "\e603";
}
.icowl-check:before {
  content: "\e604";
}
.icowl-warn:before {
  content: "\e605";
}
.icowl-caret-up:before {
  content: "\e606";
}
.icowl-carets:before {
  content: "\e607";
}
.icowl-clock:before {
  content: "\e608";
}
.icowl-stats:before {
  content: "\e609";
}
.icowl-bill:before {
  content: "\e60a";
}
.icowl-twitter:before {
  content: "\e60b";
}
.icowl-linkedin:before {
  content: "\e60c";
}
.icowl-google:before {
  content: "\e60d";
}
.icowl-facebook:before {
  content: "\e60e";
}
.icowl-caret-right:before {
  content: "\e60f";
}
.icowl-reload:before {
  content: "\e610";
}
.icowl-enter:before {
  content: "\e611";
}
.icowl-cog:before {
  content: "\e612";
}
.icowl-plus:before {
  content: "\e613";
}
.icowl-pyramid:before {
  content: "\e614";
}
.icowl-egg-close:before {
  content: "\e615";
}
.icowl-egg-check:before {
  content: "\e616";
}
.icowl-egg-slash:before {
  content: "\e617";
}
.icowl-grouch:before {
  content: "\e618";
}
.icowl-equal:before {
  content: "\e619";
}
.icowl-user-o:before {
  content: "\e61a";
}
.icowl-grouch-hello:before {
  content: "\e61b";
}
.icowl-presentation:before {
  content: "\e61c";
}
.icowl-star-crack:before {
  content: "\e61d";
}
.icowl-door:before {
  content: "\e61f";
}
.icowl-egg-plus:before {
  content: "\e620";
}
.icowl-target:before {
  content: "\e621";
}
.icowl-flash:before {
  content: "\e622";
}
.icowl-minus:before {
  content: "\e623";
}
.icowl-pencil:before {
  content: "\e624";
}
.icowl-message:before {
  content: "\e625";
}
.icowl-heart:before {
  content: "\e626";
}
.icowl-bars:before {
  content: "\e627";
}
.icowl-link:before {
  content: "\e628";
}
.icowl-caret-left:before {
  content: "\e629";
}
.icowl-flag:before {
  content: "\e62a";
}
.icowl-newspaper:before {
  content: "\e62b";
}
.icowl-earth:before {
  content: "\e62c";
}
.icowl-user:before {
  content: "\e62d";
}
.icowl-urgent:before {
  content: "\e62e";
}
.icowl-home:before {
  content: "\e62f";
}
.icowl-location:before {
  content: "\e630";
}
.icowl-chevron-up:before {
  content: "\e631";
}
.icowl-chevron-left:before {
  content: "\e632";
}
.icowl-chevron-right:before {
  content: "\e633";
}
.icowl-chevron-down:before {
  content: "\e634";
}
.icowl-filter:before {
  content: "\e636";
}
.icowl-export:before {
  content: "\e637";
}
.icowl-caret-down:before {
  content: "\e638";
}
.icowl-search:before {
  content: "\e639";
}
.icowl-power:before {
  content: "\e63a";
}
.icowl-comment:before {
  content: "\e63b";
}
.icowl-close:before {
  content: "\e63c";
}
.icowl-quote:before {
  content: "\e63d";
}
.icowl-pin:before {
  content: "\e63e";
}
.icowl-happy:before {
  content: "\e63f";
}
.icowl-grouches:before {
  content: "\e640";
}
.icowl-bullhorn:before {
  content: "\e641";
}
.icowl-chevron-down-plain:before {
  content: "\e61e";
}
.icowl-eiffel-tower:before {
  content: "\e635";
}
.icowl-owl-flag:before {
  content: "\e642";
}
.icowl-gift:before {
  content: "\e643";
}
.icowl-credit-card:before {
  content: "\e644";
}
.icowl-cheque:before {
  content: "\e645";
}
.icowl-location-alt:before {
  content: "\e646";
}
.icowl-owl-letter:before {
  content: "\e647";
}
.icowl-piggy-bank:before {
  content: "\e648";
}
.icowl-cb:before {
  content: "\e649";
}
.icowl-visa:before {
  content: "\e64a";
}
.icowl-mastercard:before {
  content: "\e64b";
}
.icowl-maestro:before {
  content: "\e64c";
}
.icowl-bancontact:before {
  content: "\e64d";
}
.icowl-amex:before {
  content: "\e64e";
}
.icowl-discover:before {
  content: "\e64f";
}
.icowl-cc-o:before {
  content: "\e650";
}
.icowl-cc:before {
  content: "\e651";
}
.icowl-cvc:before {
  content: "\e652";
}
.icowl-separator:before {
  content: "\e653";
}
.icowl-letour:before {
  content: "\e654";
}
.icowl-france:before {
  content: "\e655";
}
.icowl-bus:before {
  content: "\e656";
}
.icowl-ululetour:before {
  content: "\e657";
}
.icowl-calendar2015:before {
  content: "\e658";
}
.icowl-video:before {
  content: "\e659";
}
.icowl-eye-lashes:before {
  content: "\e65a";
}
.icowl-happy-pencil:before {
  content: "\e65b";
}
.icowl-hexagon-arrows:before {
  content: "\e65c";
}
.icowl-hexagon-o-thin:before {
  content: "\e65d";
}
.icowl-hexagon-o:before {
  content: "\e65e";
}
.icowl-hexagon-o-thick:before {
  content: "\e65f";
}
.icowl-hexagon:before {
  content: "\e660";
}
.icowl-octagon-o-thin:before {
  content: "\e661";
}
.icowl-octagon-o:before {
  content: "\e662";
}
.icowl-octagon-o-thick:before {
  content: "\e663";
}
.icowl-octagon:before {
  content: "\e664";
}
.icowl-one:before {
  content: "\e900";
}
.icowl-question-mark:before {
  content: "\e901";
}
.icowl-plus-o:before {
  content: "\e902";
}
.icowl-flag-anchor:before {
  content: "\e903";
}
.icowl-waves:before {
  content: "\e904";
}
.icowl-facebook-hexagon-o:before {
  content: "\e905";
}
.icowl-twitter-hexagon-o:before {
  content: "\e906";
}

