.posts {
  margin: auto;
  max-width: $width-main;
  padding: 0 2em;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: $color-black;
    display: block;
    // overflow: hidden;
    padding: 3em 0;
    position: relative;

    &:hover {
      .posts__hovericon {
        opacity: 1;
      }
    }

    &:active {
      .posts__hovericon {
        opacity: 0;
        right: -120px;
      }
    }
  }

  &__title {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 5px;
  }

  &__item {
    border-bottom: 1px solid $color-silver-light;
    position: relative;

    &:nth-child(odd) {
      .posts__avatar img {
        border-color: $color-blue;
      }

      .posts__author, .posts__hovericon {
        color: $color-blue;
      }
    }

    &:nth-child(even) {
      .posts__avatar img {
        border-color: $color-red;
      }

      .posts__author, .posts__hovericon {
        color: $color-red;
      }
    }

    &:hover {
      .posts__meta a {
        color: $color-gray;
      }
    }

    &--inverse {
      text-align: right;

      .posts {
        &__hovericon {
          left: 0;
          right: auto;
          transform: scale(-1, 1);
        }

        &__avatar {
          position: absolute;
          right: 0;
          bottom: 3em;
        }

        &__link:active .posts__hovericon {
          left: -120px;
        }
      }
    }
  }

  &__avatar {
    display: inline-block;
    vertical-align: top;
    width: 100px;

    img {
      border: 3px solid $color-blue;
      border-radius: 50px;
      display: block;
      height: 90px;
      width: 90px;
    }
  }

  &__infos {
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    vertical-align: top;
    width: calc(100% - 100px);

    li {
      line-height: 24px;

      &:first-child {
        line-height: 48px;
      }
    }
  }

  &__date {
    color: $color-gray;
  }

  &__meta {
    bottom: 3.25em;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0.5em;

    a {
      color: $color-silver;
      padding: 0.5em;
    }

    li {
      display: inline-block;
      vertical-align: top;
    }
  }

  &__comment:hover {
    color: $color-black !important;
  }

  &__facebook:hover {
    color: $color-facebook !important;
  }

  &__twitter:hover {
    color: $color-twitter !important;
  }

  &__hovericon {
    background: $color-white;
    box-shadow: -15px 0 10px 15px $color-white;
    opacity: 0;
    font-size: 3em;
    position: absolute;
    transition: all 0.2s;
    right: 0;
    top: 50px;
    z-index: 1;
  }

  &__more {
    margin: 3em 0 1em;

    a {
      border: 1px solid $color-blue;
      border-radius: 3px;
      box-sizing: border-box;
      color: $color-blue;
      display: block;
      margin: auto;
      padding: 0.5em;
      text-align: center;
      width: 50%;

      &:hover {
        box-shadow: 0 0 2px $color-blue;
      }

      &:active {
        box-shadow: 0 0 2px $color-blue inset;
      }
    }

    i {
      font-size: 1.5em;
    }
  }

  &--suggestions {
    margin: 2em auto;
    max-width: 2*$width-main;
    padding: 0;

    .posts {
      &__item {
        border: none;
        box-sizing: border-box;
        display: inline-block;
        padding: 0 2em;
        vertical-align: top;
        width: 50%;

        &--inverse {
          .posts {
            &__infos {
              padding-right: 74px;
              li {
                margin-left: -70px;
              }
            }

            &__title {
              margin-left: 0;
              margin-right: -74px;
            }
          }
        }
      }

      &__link {
        border: 1px solid $color-silver-light;
        border-width: 1px 0;
      }

      &__avatar {
        vertical-align: bottom;
        width: 50px;

        img {
          height: 45px;
          width: 45px;
        }
      }

      &__infos {
        width: calc(100% - 50px);
      }

      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: -70px;
      }
    }
  }

  @media all and (max-width: 700px) {
    &__avatar {
      vertical-align: bottom;
      width: 50px;

      img {
        height: 45px;
        width: 45px;
      }
    }

    &__infos {
      width: calc(100% - 50px);
    }

    &__title {
      margin-left: -70px;
    }

    &--suggestions .posts__item {
      width: 100%;
    }
  }

  @media all and (max-width: 480px) {
    padding: 0 1em;

    &__link {
      padding: 2em 0 4em;
    }

    &__meta {
      bottom: 2em;
      left: 4em;
    }

    &--suggestions .posts__item {
      margin-top: -1px;
      padding: 0;

      .posts__link {
        padding: 3em 0;
      }
    }
  }
}