@import "font-awesome";
@import "fontowl";

@mixin Lora {
  font-family: Lora, Times, serif;
}

@mixin Oswald {
  font-family: Oswald, Helvetica, Arial, sans-serif;
}

body {
  color: $color-black;
  @include Lora;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

h1, h2, h3 {
  @include Oswald;
  font-weight: normal;
}

.single__content {
  font-size: 1.188em;
  line-height: 1.62;
}

pre {
  font-size: 1rem;
}