// Ulule colors
$neutral-silver: #E0E0E0;
$neutral-gray: #EEE;
$neutral-lightgray: #FAFAFA;
$owl-lightblue: #00A6F0;
$owl-darkblue: #00608B;
$owl-lightred: #FF0000;
$owl-red: #e43d34; //ancient ulule-red
$owl-darkred: #AD0000;
$owl-lightorange: #F58058;
$owl-darkorange: #F74b3c;
$owl-lightgreen: #A6CB6C;
$owl-green: #58C167;
$owl-darkgreen: #218338;

// Social colors
$color-facebook: #3B5A9B;
$color-twitter: #009DEC;

// Graphic identity
$color-white: #fff;
$color-black: #333;
$color-black-ultra: #111;
$color-silver: silver;
$color-silver-light: #eee;
$color-gray: gray;
$color-red: $owl-lightred;
$color-blue: $owl-lightblue;

// Sizes
$width-main: 640px;
